<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_chrysanthemum.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_orchid.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,95},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>M_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,188},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_my.png</string>
            <key>size</key>
            <string>{1010,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c187258f905c2a2e23e212c7b62bf9$</string>
            <key>textureFileName</key>
            <string>Z_my.png</string>
        </dict>
    </dict>
</plist>
