<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{65,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{65,100}}</string>
                <key>sourceSize</key>
                <string>{79,156}</string>
            </dict>
            <key>3l.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,142},{316,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{316,138}}</string>
                <key>sourceSize</key>
                <string>{344,156}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{86,96}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{86,96}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>5l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,2},{336,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{336,138}}</string>
                <key>sourceSize</key>
                <string>{364,150}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{84,101}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{84,101}}</string>
                <key>sourceSize</key>
                <string>{100,159}</string>
            </dict>
            <key>8l.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,142},{350,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{350,139}}</string>
                <key>sourceSize</key>
                <string>{364,159}</string>
            </dict>
            <key>dahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,142},{88,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,158}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>dibanchongji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,142},{230,141}}</string>
                <key>offset</key>
                <string>{-10,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,287},{230,141}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,142},{244,151}}</string>
                <key>offset</key>
                <string>{-15,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,278},{244,151}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2850},{368,505}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,13},{368,505}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2371},{480,477}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,13},{480,477}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{528,373}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,125},{528,373}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,320},{344,349}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{344,349}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{258,133}}</string>
                <key>offset</key>
                <string>{-21,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,296},{258,133}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dibanchongji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,543}</string>
            </dict>
            <key>dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,142},{106,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{106,178}</string>
            </dict>
            <key>dihuguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1073},{320,400}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{320,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1073},{362,400}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{362,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1073},{364,400}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{364,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{364,400}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{364,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1475},{372,400}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{372,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,671},{384,400}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{384,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,671},{390,400}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{390,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,671},{392,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{392,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1073},{340,400}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{340,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>dihuguang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,671},{340,400}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{340,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>huzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,2},{144,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>jinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,142},{192,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,152}}</string>
                <key>sourceSize</key>
                <string>{192,154}</string>
            </dict>
            <key>lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,156}</string>
            </dict>
            <key>long.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>long_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1475},{328,428}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{328,428}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>long_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1475},{330,432}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,34},{330,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>long_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1911},{332,434}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,33},{332,434}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>long_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1911},{332,440}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,30},{332,440}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>long_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1911},{348,458}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,22},{348,458}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>long_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2371},{368,476}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{368,476}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>long_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2371},{360,468}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,18},{360,468}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>ri.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,320},{256,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{256,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shandian3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2850},{204,720}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{204,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2850},{198,720}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{198,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2850},{154,720}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,0},{154,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2850},{166,720}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{166,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2850},{168,720}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{168,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2850},{172,720}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{172,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2850},{148,720}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{148,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>shandian3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2850},{160,720}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{160,720}}</string>
                <key>sourceSize</key>
                <string>{300,720}</string>
            </dict>
            <key>sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{215,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{215,138}}</string>
                <key>sourceSize</key>
                <string>{215,156}</string>
            </dict>
            <key>tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{120,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{134,100}</string>
            </dict>
            <key>tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,320},{128,215}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{128,215}}</string>
                <key>sourceSize</key>
                <string>{134,217}</string>
            </dict>
            <key>yifanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{244,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,102}}</string>
                <key>sourceSize</key>
                <string>{246,102}</string>
            </dict>
            <key>yin.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>yinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,142},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>yinlong_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1475},{328,428}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{328,428}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yinlong_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1475},{330,432}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,34},{330,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yinlong_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1475},{332,434}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,33},{332,434}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yinlong_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1911},{332,440}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,30},{332,440}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yinlong_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1911},{348,458}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,22},{348,458}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yinlong_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2371},{368,476}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{368,476}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yinlong_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2371},{360,468}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,18},{360,468}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,320},{539,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,288}}</string>
                <key>sourceSize</key>
                <string>{539,288}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{453,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,203}}</string>
                <key>sourceSize</key>
                <string>{453,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SSPAnimation.png</string>
            <key>size</key>
            <string>{2046,3572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42c4b2a387b3fb6eb15fc61414deeefe$</string>
            <key>textureFileName</key>
            <string>SSPAnimation.png</string>
        </dict>
    </dict>
</plist>
