<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,326},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,164},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,326},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,164},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>sx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:051dddf8cf5961b2569e310f3501a01f$</string>
            <key>textureFileName</key>
            <string>xx.png</string>
        </dict>
    </dict>
</plist>
