<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>texiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{192,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,58}}</string>
                <key>sourceSize</key>
                <string>{192,58}</string>
            </dict>
            <key>texiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{240,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,58}}</string>
                <key>sourceSize</key>
                <string>{240,58}</string>
            </dict>
            <key>texiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{192,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,58}}</string>
                <key>sourceSize</key>
                <string>{192,58}</string>
            </dict>
            <key>texiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{192,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,58}}</string>
                <key>sourceSize</key>
                <string>{192,58}</string>
            </dict>
            <key>texiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,422},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,482},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>texiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,542},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>texiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,602},{144,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,58}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiTexiao.png</string>
            <key>size</key>
            <string>{246,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e2664eac12982253f20e2cf42cc274$</string>
            <key>textureFileName</key>
            <string>paiTexiao.png</string>
        </dict>
    </dict>
</plist>
