<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>fu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{16,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,46}}</string>
                <key>sourceSize</key>
                <string>{16,46}</string>
            </dict>
            <key>fu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>fu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,50},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,50},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,50},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,98},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,98},{36,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>zheng0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,98},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>zheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{16,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,46}}</string>
                <key>sourceSize</key>
                <string>{16,46}</string>
            </dict>
            <key>zheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,146},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>zheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,146},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,146},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zheng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zheng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,194},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zheng7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,194},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zheng8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,194},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zheng9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>zhenghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,242},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuzi.png</string>
            <key>size</key>
            <string>{128,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c5c98de97678e76a0db6d5d7518208d$</string>
            <key>textureFileName</key>
            <string>shuzi.png</string>
        </dict>
    </dict>
</plist>
