<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,164},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,326},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,488},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,650},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,650},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,650},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>M_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,650},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
            <key>paibei-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,650},{31,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{31,76}</string>
            </dict>
            <key>paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,650},{66,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,160}}</string>
                <key>sourceSize</key>
                <string>{66,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_bottom.png</string>
            <key>size</key>
            <string>{478,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d67f8e284eb3d2c697354cc78368985$</string>
            <key>textureFileName</key>
            <string>Z_bottom.png</string>
        </dict>
    </dict>
</plist>
