<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cjfj-bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{244,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{244,62}}</string>
                <key>sourceSize</key>
                <string>{264,76}</string>
            </dict>
            <key>cjfj-fuxuankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,248},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>cjfj-fuxuankuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,233},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>cjfj-jiesuanfangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{151,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{195,46}</string>
            </dict>
            <key>cjfj-wanfaxuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,292},{151,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{151,36}}</string>
                <key>sourceSize</key>
                <string>{195,46}</string>
            </dict>
            <key>createRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{229,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{229,66}}</string>
                <key>sourceSize</key>
                <string>{235,76}</string>
            </dict>
            <key>sss_costExplain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{454,42}}</string>
                <key>sourceSize</key>
                <string>{466,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_createRoom.png</string>
            <key>size</key>
            <string>{199,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1295afab4864bf7909398ad352f27348$</string>
            <key>textureFileName</key>
            <string>hall_createRoom.png</string>
        </dict>
    </dict>
</plist>
