<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{154,40}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
            <key>jiesao.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{478,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{478,112}}</string>
                <key>sourceSize</key>
                <string>{540,138}</string>
            </dict>
            <key>jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{670,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{670,36}}</string>
                <key>sourceSize</key>
                <string>{704,54}</string>
            </dict>
            <key>renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,116},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{82,30}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,116},{154,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{154,40}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sspCreateRoom.png</string>
            <key>size</key>
            <string>{914,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccb8bc4054a8d49762e3c54883ab6f07$</string>
            <key>textureFileName</key>
            <string>sspCreateRoom.png</string>
        </dict>
    </dict>
</plist>
