<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{416,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{416,140}}</string>
                <key>sourceSize</key>
                <string>{420,154}</string>
            </dict>
            <key>btn_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{412,126}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{412,126}}</string>
                <key>sourceSize</key>
                <string>{420,154}</string>
            </dict>
            <key>btn_ovserved.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,135}}</string>
                <key>sourceSize</key>
                <string>{433,135}</string>
            </dict>
            <key>btn_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{73,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{73,112}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_table.png</string>
            <key>size</key>
            <string>{510,409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc064ce6afbb416e1507153e568919a9$</string>
            <key>textureFileName</key>
            <string>game_table.png</string>
        </dict>
    </dict>
</plist>
