<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_SSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,390}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{340,390}}</string>
                <key>sourceSize</key>
                <string>{344,400}</string>
            </dict>
            <key>hall_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{308,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{308,112}}</string>
                <key>sourceSize</key>
                <string>{316,120}</string>
            </dict>
            <key>hall_bottombar.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,394},{1176,103}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{1176,103}}</string>
                <key>sourceSize</key>
                <string>{1198,123}</string>
            </dict>
            <key>hall_fourColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{338,390}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{338,390}}</string>
                <key>sourceSize</key>
                <string>{342,400}</string>
            </dict>
            <key>hall_gonggaotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,258},{807,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{807,36}}</string>
                <key>sourceSize</key>
                <string>{811,44}</string>
            </dict>
            <key>hall_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{175,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{175,102}}</string>
                <key>sourceSize</key>
                <string>{189,120}</string>
            </dict>
            <key>hall_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,195},{178,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{178,102}}</string>
                <key>sourceSize</key>
                <string>{190,120}</string>
            </dict>
            <key>hall_mfsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,179},{77,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,77}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>hall_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{390,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{390,102}}</string>
                <key>sourceSize</key>
                <string>{392,120}</string>
            </dict>
            <key>hall_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,195},{176,102}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{176,102}}</string>
                <key>sourceSize</key>
                <string>{190,120}</string>
            </dict>
            <key>hall_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{191,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{191,121}}</string>
                <key>sourceSize</key>
                <string>{201,133}</string>
            </dict>
            <key>hall_xiaolaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,296},{36,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_table.png</string>
            <key>size</key>
            <string>{1805,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54606d5391e16ed826869bb76457f35d$</string>
            <key>textureFileName</key>
            <string>hall_table.png</string>
        </dict>
    </dict>
</plist>
