<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jryx-fzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{302,84}}</string>
                <key>sourceSize</key>
                <string>{340,126}</string>
            </dict>
            <key>jryx-sss.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{230,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,22},{230,82}}</string>
                <key>sourceSize</key>
                <string>{340,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>modeNameImg.png</string>
            <key>size</key>
            <string>{538,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2f393954e7ee9c9d435f344e62f33bd$</string>
            <key>textureFileName</key>
            <string>modeNameImg.png</string>
        </dict>
    </dict>
</plist>
