<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{174,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{174,30}}</string>
                <key>sourceSize</key>
                <string>{194,46}</string>
            </dict>
            <key>login_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{30,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>login_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{102,22}}</string>
                <key>sourceSize</key>
                <string>{134,60}</string>
            </dict>
            <key>login_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,26},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{68,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_icon.png</string>
            <key>size</key>
            <string>{106,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f70df0ef66f6736b1d3b128c48facc3$</string>
            <key>textureFileName</key>
            <string>login_icon.png</string>
        </dict>
    </dict>
</plist>
