<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{225,85}}</string>
                <key>sourceSize</key>
                <string>{229,89}</string>
            </dict>
            <key>chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
            <key>dianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{8,16}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>dichikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,24}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>dikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{1328,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{1328,137}}</string>
                <key>sourceSize</key>
                <string>{1334,137}</string>
            </dict>
            <key>jinlongkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{242,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,154}}</string>
                <key>sourceSize</key>
                <string>{242,156}</string>
            </dict>
            <key>jinlongkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{270,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{270,172}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>mopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,158},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
            <key>paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,158},{98,155}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,155}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>paigai.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,158},{70,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{70,126}}</string>
                <key>sourceSize</key>
                <string>{84,136}</string>
            </dict>
            <key>qie_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,158},{72,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{72,34}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>suoChi.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,158},{198,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,172}}</string>
                <key>sourceSize</key>
                <string>{198,172}</string>
            </dict>
            <key>tishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,158},{564,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{564,68}}</string>
                <key>sourceSize</key>
                <string>{566,82}</string>
            </dict>
            <key>tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,158},{564,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{564,72}}</string>
                <key>sourceSize</key>
                <string>{566,86}</string>
            </dict>
            <key>tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{564,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{564,86}}</string>
                <key>sourceSize</key>
                <string>{610,124}</string>
            </dict>
            <key>xiaokuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,332},{32,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,69}}</string>
                <key>sourceSize</key>
                <string>{40,77}</string>
            </dict>
            <key>xiaokuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,332},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,32}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,332},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>yinlongkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,332},{242,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{242,154}}</string>
                <key>sourceSize</key>
                <string>{242,164}</string>
            </dict>
            <key>yinlongkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,332},{270,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{270,172}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,332},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SSPgame.png</string>
            <key>size</key>
            <string>{1989,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06c4e8c2bd0ba0a7cb3f273060d47d94$</string>
            <key>textureFileName</key>
            <string>SSPgame.png</string>
        </dict>
    </dict>
</plist>
