<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,158}}</string>
                <key>sourceSize</key>
                <string>{90,160}</string>
            </dict>
            <key>dahu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{60,100}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
            <key>dihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{60,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{60,98}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>duhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{106,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{106,178}</string>
            </dict>
            <key>jinlong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{94,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{94,100}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>jinlong_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{234,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,125}}</string>
                <key>sourceSize</key>
                <string>{234,125}</string>
            </dict>
            <key>jinlongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{118,60}</string>
            </dict>
            <key>pinghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{88,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{88,98}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>tianhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{60,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,100}}</string>
                <key>sourceSize</key>
                <string>{66,106}</string>
            </dict>
            <key>yifanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{244,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,102}}</string>
                <key>sourceSize</key>
                <string>{246,102}</string>
            </dict>
            <key>yinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,180},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>yinlong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,180},{102,100}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>yinlong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,180},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>yinlong_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,180},{234,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,130}}</string>
                <key>sourceSize</key>
                <string>{234,132}</string>
            </dict>
            <key>yinlongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,180},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>yufanhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,180},{48,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{48,98}}</string>
                <key>sourceSize</key>
                <string>{62,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texiaozi.png</string>
            <key>size</key>
            <string>{990,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b5300eb0fa63b0db5f0c13202f38258$</string>
            <key>textureFileName</key>
            <string>texiaozi.png</string>
        </dict>
    </dict>
</plist>
