<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sss_BBpai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai13.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai14.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>sss_BBpai9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sss_BBpai.png</string>
            <key>size</key>
            <string>{892,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45282c6067870e949eedebddfd88a260$</string>
            <key>textureFileName</key>
            <string>sss_BBpai.png</string>
        </dict>
    </dict>
</plist>
