<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,590},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>mj_chinode.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,251},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,99}}</string>
                <key>sourceSize</key>
                <string>{196,103}</string>
            </dict>
            <key>mj_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,366},{30,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_east_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,332},{30,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_endingHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,402},{38,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>mj_fangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{164,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>mj_fangxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,352},{54,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,146}}</string>
                <key>sourceSize</key>
                <string>{54,158}</string>
            </dict>
            <key>mj_fangxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,463},{145,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,54}}</string>
                <key>sourceSize</key>
                <string>{151,54}</string>
            </dict>
            <key>mj_fangxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,442},{145,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{145,54}}</string>
                <key>sourceSize</key>
                <string>{151,54}</string>
            </dict>
            <key>mj_fangxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,408},{53,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{53,146}}</string>
                <key>sourceSize</key>
                <string>{53,158}</string>
            </dict>
            <key>mj_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,519},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>mj_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mj_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,311},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>mj_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,532},{32,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{32,62}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>mj_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,82},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{70,100}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>mj_jinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{94,134}}</string>
                <key>sourceSize</key>
                <string>{120,158}</string>
            </dict>
            <key>mj_jinpai_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,184},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{68,96}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>mj_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{196,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{196,45}}</string>
                <key>sourceSize</key>
                <string>{210,65}</string>
            </dict>
            <key>mj_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,247}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{420,247}}</string>
                <key>sourceSize</key>
                <string>{420,267}</string>
            </dict>
            <key>mj_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,566},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_north_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{30,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{30,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,498},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>mj_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,352},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>mj_sonth.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,524},{28,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{28,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_south_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,409},{28,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{28,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,400},{30,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{30,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_west_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,566},{28,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,498},{32,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{32,62}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>phb-ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,282},{34,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{34,20}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>phb-jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,490},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,28}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>phb-pingju.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,464},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,28}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>phb-shuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,409},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,28}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>phb-wanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,430},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,28}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>phb-yingju.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,251},{58,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{58,28}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_icon.png</string>
            <key>size</key>
            <string>{504,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca182c998197c19ccc38dfdcbb6e2a3b$</string>
            <key>textureFileName</key>
            <string>mj_icon.png</string>
        </dict>
    </dict>
</plist>
