<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjks-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{10,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{10,31}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{24,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{20,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{24,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,31}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{24,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,39},{24,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,39},{20,33}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,33}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,39},{24,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>mjks-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,39},{24,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num.png</string>
            <key>size</key>
            <string>{128,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d680b2e3b362156cd2e653632304638$</string>
            <key>textureFileName</key>
            <string>num.png</string>
        </dict>
    </dict>
</plist>
