<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,320},{229,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{229,66}}</string>
                <key>sourceSize</key>
                <string>{235,76}</string>
            </dict>
            <key>btn-invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{701,165}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{701,165}}</string>
                <key>sourceSize</key>
                <string>{745,227}</string>
            </dict>
            <key>btn-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,324},{579,165}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{579,165}}</string>
                <key>sourceSize</key>
                <string>{655,227}</string>
            </dict>
            <key>btn_ traveler.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{290,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{290,82}}</string>
                <key>sourceSize</key>
                <string>{308,106}</string>
            </dict>
            <key>btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,667},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_cancelAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,166},{276,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{276,78}}</string>
                <key>sourceSize</key>
                <string>{288,84}</string>
            </dict>
            <key>btn_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,609},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_cancel_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,596},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_dismissRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{579,165}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{579,165}}</string>
                <key>sourceSize</key>
                <string>{655,227}</string>
            </dict>
            <key>btn_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{657,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{657,165}}</string>
                <key>sourceSize</key>
                <string>{733,227}</string>
            </dict>
            <key>btn_observer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{579,165}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{579,165}}</string>
                <key>sourceSize</key>
                <string>{655,227}</string>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,86},{279,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{279,78}}</string>
                <key>sourceSize</key>
                <string>{287,84}</string>
            </dict>
            <key>btn_ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,551},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_ok_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,460},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_prepare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{579,165}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{579,165}}</string>
                <key>sourceSize</key>
                <string>{655,227}</string>
            </dict>
            <key>btn_quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,246},{268,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{268,76}}</string>
                <key>sourceSize</key>
                <string>{288,84}</string>
            </dict>
            <key>btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,324},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>btn_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,246},{80,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,732},{120,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{120,54}}</string>
                <key>sourceSize</key>
                <string>{122,60}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,725},{130,118}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{130,118}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_button.png</string>
            <key>size</key>
            <string>{1022,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd2029e8a4e3b2d33e8744155f082f3$</string>
            <key>textureFileName</key>
            <string>pub_button.png</string>
        </dict>
    </dict>
</plist>
