<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>icon_bglight.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,570},{203,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,194}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>icon_bigDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{271,282}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{271,282}}</string>
                <key>sourceSize</key>
                <string>{301,290}</string>
            </dict>
            <key>icon_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,120},{331,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{331,42}}</string>
                <key>sourceSize</key>
                <string>{337,48}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,150},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>icon_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,783},{150,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{150,151}</string>
            </dict>
            <key>icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,766},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_loadAnnulus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>icon_loadBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{388,266}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{388,266}}</string>
                <key>sourceSize</key>
                <string>{402,290}</string>
            </dict>
            <key>icon_loadFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{90,80}}</string>
                <key>sourceSize</key>
                <string>{116,162}</string>
            </dict>
            <key>icon_pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,418},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,152}</string>
            </dict>
            <key>icon_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,34},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{57,28}}</string>
                <key>sourceSize</key>
                <string>{107,52}</string>
            </dict>
            <key>icon_power.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{450,94},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>icon_roomId.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,182},{165,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{165,30}}</string>
                <key>sourceSize</key>
                <string>{215,50}</string>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,64},{55,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{55,28}}</string>
                <key>sourceSize</key>
                <string>{107,54}</string>
            </dict>
            <key>icon_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,691},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,146}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{446,146}}</string>
                <key>sourceSize</key>
                <string>{456,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_part.png</string>
            <key>size</key>
            <string>{512,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37d68ae05e1fc1dbdba7ebf410ec51c2$</string>
            <key>textureFileName</key>
            <string>pub_part.png</string>
        </dict>
    </dict>
</plist>
