<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_chick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{356,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{356,46}}</string>
                <key>sourceSize</key>
                <string>{370,72}</string>
            </dict>
            <key>chat_emojibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{710,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{710,298}}</string>
                <key>sourceSize</key>
                <string>{740,326}</string>
            </dict>
            <key>chat_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{679,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{679,52}}</string>
                <key>sourceSize</key>
                <string>{713,86}</string>
            </dict>
            <key>chat_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{597,50}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{597,50}}</string>
                <key>sourceSize</key>
                <string>{675,68}</string>
            </dict>
            <key>chat_normol.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{356,46}}</string>
                <key>sourceSize</key>
                <string>{370,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_chat.png</string>
            <key>size</key>
            <string>{466,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b4c01ea0218e84154b1341edc0842f8$</string>
            <key>textureFileName</key>
            <string>pub_chat.png</string>
        </dict>
    </dict>
</plist>
