<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_M1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{717,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{717,354}}</string>
                <key>sourceSize</key>
                <string>{721,358}</string>
            </dict>
            <key>frame_M2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{713,340}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{713,340}}</string>
                <key>sourceSize</key>
                <string>{715,342}</string>
            </dict>
            <key>frame_M3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{203,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{203,110}}</string>
                <key>sourceSize</key>
                <string>{241,140}</string>
            </dict>
            <key>frame_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,2},{179,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{179,34}}</string>
                <key>sourceSize</key>
                <string>{215,52}</string>
            </dict>
            <key>frame_info1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{540,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{540,341}}</string>
                <key>sourceSize</key>
                <string>{542,341}</string>
            </dict>
            <key>frame_info2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,358},{338,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{338,272}}</string>
                <key>sourceSize</key>
                <string>{348,284}</string>
            </dict>
            <key>frame_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,358},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>frame_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,358},{421,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{421,128}}</string>
                <key>sourceSize</key>
                <string>{459,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_frames.png</string>
            <key>size</key>
            <string>{1822,701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae4f50b265968286e8bc8ec47510edc$</string>
            <key>textureFileName</key>
            <string>pub_frames.png</string>
        </dict>
    </dict>
</plist>
