<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{96,136}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>dt-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{92,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{92,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt-touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{99,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>dt-touxiangdiejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,195},{85,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{85,84}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>headBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,102},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_head.png</string>
            <key>size</key>
            <string>{241,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad76a64e6d82d1f1e4131b39a7c7a48$</string>
            <key>textureFileName</key>
            <string>pub_head.png</string>
        </dict>
    </dict>
</plist>
