<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pub_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{883,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{883,58}}</string>
                <key>sourceSize</key>
                <string>{887,62}</string>
            </dict>
            <key>pub_item_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,458},{454,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{454,42}}</string>
                <key>sourceSize</key>
                <string>{466,56}</string>
            </dict>
            <key>pub_item_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{454,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{454,42}}</string>
                <key>sourceSize</key>
                <string>{466,56}</string>
            </dict>
            <key>pub_item_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{1080,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{1080,60}}</string>
                <key>sourceSize</key>
                <string>{1090,72}</string>
            </dict>
            <key>pub_item_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{905,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{905,339}}</string>
                <key>sourceSize</key>
                <string>{919,349}</string>
            </dict>
            <key>pub_item_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,914},{182,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,32}}</string>
                <key>sourceSize</key>
                <string>{182,32}</string>
            </dict>
            <key>pub_windows.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{1131,595}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{1131,595}}</string>
                <key>sourceSize</key>
                <string>{1171,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_allitem.png</string>
            <key>size</key>
            <string>{1015,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f90e99002c6e527231e85057c3fa14bd$</string>
            <key>textureFileName</key>
            <string>pub_allitem.png</string>
        </dict>
    </dict>
</plist>
