<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{61,61}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,414},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{61,61}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>volume1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{410,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{410,36}}</string>
                <key>sourceSize</key>
                <string>{430,54}</string>
            </dict>
            <key>volume2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{420,46}}</string>
                <key>sourceSize</key>
                <string>{430,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_music.png</string>
            <key>size</key>
            <string>{198,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425ddb5a638315ca4537448293904467$</string>
            <key>textureFileName</key>
            <string>pub_music.png</string>
        </dict>
    </dict>
</plist>
