<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>settle_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,356},{450,180}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{450,180}}</string>
                <key>sourceSize</key>
                <string>{466,218}</string>
            </dict>
            <key>settle_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,573}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{340,573}}</string>
                <key>sourceSize</key>
                <string>{366,593}</string>
            </dict>
            <key>settle_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,157},{497,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{497,197}}</string>
                <key>sourceSize</key>
                <string>{583,197}</string>
            </dict>
            <key>settle_settle.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{565,153}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{565,153}}</string>
                <key>sourceSize</key>
                <string>{583,171}</string>
            </dict>
            <key>settle_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,356},{493,203}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{493,203}}</string>
                <key>sourceSize</key>
                <string>{583,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pub_setttle.png</string>
            <key>size</key>
            <string>{1001,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:911507b72252e7da212fc1817e8a9725$</string>
            <key>textureFileName</key>
            <string>pub_setttle.png</string>
        </dict>
    </dict>
</plist>
