<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangkuai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai13.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai14.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>fangkuai9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,260},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>hua9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,518},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>tao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,776},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
            <key>xin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1034},{176,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{176,256}}</string>
                <key>sourceSize</key>
                <string>{180,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pai.png</string>
            <key>size</key>
            <string>{1960,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a3a709b5b4556c720562ac1794723b$</string>
            <key>textureFileName</key>
            <string>pai.png</string>
        </dict>
    </dict>
</plist>
