<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sss_TD.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,64},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{58,28}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>sss_WD.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,62},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{58,28}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>sss_ZD.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{58,28}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>sss_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{1088,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{1088,117}}</string>
                <key>sourceSize</key>
                <string>{1100,117}</string>
            </dict>
            <key>sss_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,278},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{86,94}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>sss_paiBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,301},{92,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,138}}</string>
                <key>sourceSize</key>
                <string>{94,140}</string>
            </dict>
            <key>sss_paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,122},{154,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,234}}</string>
                <key>sourceSize</key>
                <string>{154,234}</string>
            </dict>
            <key>sss_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,64},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{56,28}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>sss_specialPaiType.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{270,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,80}}</string>
                <key>sourceSize</key>
                <string>{270,80}</string>
            </dict>
            <key>sss_toudao.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,441},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{134,72}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>sss_wanfa_01C.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,857},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_01N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_01P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_02C.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,825},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_02N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_02P.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,711},{144,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_03C.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,797},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_03N.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,705},{144,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_03P.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,644},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_04C.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,766},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_04N.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,583},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_04P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_05C.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,738},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_05N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_05P.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,522},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_06C.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,679},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_06N.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,461},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_06P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_07C.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,620},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_07N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_07P.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,400},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_08C.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,561},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_08N.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,339},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_08P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_09C.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,502},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{136,57}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_09N.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_09P.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,278},{144,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{144,59}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>sss_wanfa_10C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{153,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{153,103}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>sss_wanfa_10N.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,146},{153,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{153,103}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>sss_wanfa_10P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{153,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{153,103}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>sss_weidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,577},{132,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{132,72}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>sss_zhongdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,366},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{134,72}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,473}}</string>
                <key>sourceSize</key>
                <string>{60,473}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sss_icon.png</string>
            <key>size</key>
            <string>{510,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19bc4354c0d7e101078bfd3a79edbd18$</string>
            <key>textureFileName</key>
            <string>sss_icon.png</string>
        </dict>
    </dict>
</plist>
